body{
	font-family: Helvetica;
	font-size: 12px;
}

.formulaire {
	display: flex;
	flex-direction: column;
}

input, textarea {
    width: 300px;
}

.valider{
	margin-top: 20px;
	padding: 10px;
	background-color: #F1A3AD;
}